*inmemory*
*__pycache__
*.pyc
.DS_Store

src/mockturtle/build
data
exp
tmp

src/kissat/build
*.o
*.a
makefile
src/kissat/build.h
src/kissat/kissat
src/kissat/tissat
*.gcno
*.gcda
*.gcov
src/kissat/gmon.out